@model LuminTrack.Models.Luminaria

@{
    ViewBag.Title = "Eliminar Luminaria";
}

<h2>Eliminar Luminaria</h2>

<h3>¿Estás seguro que deseas eliminar esta luminaria?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tipo</dt>
        <dd>@Model.Tipo</dd>

        <dt>Latitud</dt>
        <dd>@Model.Latitud</dd>

        <dt>Longitud</dt>
        <dd>@Model.Longitud</dd>

        <dt>Potencia</dt>
        <dd>@Model.Potencia</dd>

        <dt>Panel Solar</dt>
        <dd>@(Model.TienePanelSolar ? "Sí" : "No")</dd>

        <dt>Estado</dt>
        <dd>@Model.Estado</dd>
    </dl>

    @using (Html.BeginForm("Delete", "Luminarias", new { id = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-danger">Eliminar</button>
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
    }
</div>
