@model IEnumerable<LuminTrack.Models.Luminaria>

@{
    ViewBag.Title = "Lista de Luminarias";
}

<h2>Luminarias Registradas</h2>

<p>
    @Html.ActionLink("Registrar nueva", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Potencia</th>
            <th>Panel Solar</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Tipo</td>
                <td>@item.Latitud</td>
                <td>@item.Longitud</td>
                <td>@item.Potencia W</td>
                <td>@(item.TienePanelSolar ? "Sí" : "No")</td>
                <td>@item.Estado</td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>


