@model LuminTrack.Models.Reporte

@{
    ViewBag.Title = "Crear Reporte";
}

<h2>Crear Reporte</h2>

@using (Html.BeginForm("Create", "Reportes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Descripcion)
        @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Categoria)
        @Html.DropDownListFor(m => m.Categoria,
            new SelectList(new[] { "apagón", "intermitente", "poste caído" }),
            "-- Seleccione categoría --", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Foto</label>
        <input type="file" name="foto" class="form-control" />
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Latitud)
        @Html.TextBoxFor(m => m.Latitud, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Longitud)
        @Html.TextBoxFor(m => m.Longitud, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary" })
}
